{% extends "base.html" %} {% block title %} Actors | Screening {% endblock %} {% block body %}

<h1>Actors</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Movies</th>
    </tr>
  </thead>
  <tbody>
    {% for actor in actors %}
    <tr>
      <td>{{ actor.first_name }} {{ actor.last_name }}</td>
      <td><a href="/actor/{{ actor.actor_id }}">See Other Movies</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="nav-bar">
  <a class="nav-link" href="/actors/{{ prev_page }}">Prev</a>
  <a class="nav-link" href="/actors/{{ next_page }}">Next</a>
</div>


{% endblock %}
