<html>
  <head>
    <title>Login | Screening</title>
    <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.css" />
    <style>
      body {
        padding: 1rem;
        display: flex;
        justify-content: center;
      }

      .nav-link {
        color: white;
        padding: 0.5rem;
      }
    </style>
  </head>
  <body>
    <!--Login-->
    <div class="container py-5">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %} {{ login_form }}
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <p class="text-center">
        Don't have an account? <a href="/register">Create an account</a>.
      </p>
    </div>
  </body>
</html>
