{% extends "base.html" %} {% block title %} {{movie.title}} | Screening {% endblock %} {% block body %}

<h1>{{ movie.title }}</h1>
<p>{{ movie.release_date }}</p>
<img alt="Not found" src="/poster/{{ item.imdb_id }}" />
<h2>Actors</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Movies</th>
    </tr>
  </thead>
  <tbody>
    {% for actor in actors %}
    <tr>
      <td>{{ actor.first_name }} {{ actor.last_name }}</td>
      <td><a href="/actor/{{ actor.actor_id }}">See Other Movies</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Reviews</h2>
{% if reviews %}
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <td>{{ review.username }}</td>
      <td>{{ review.rating }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No reviews yet!</p>
{% endif %} 

{% if user.is_authenticated %}
<form action="/review/{{ movie.movie_id }}" method="POST">
  {% csrf_token %}
  <label for="rating">Rating</label>
  <input type="number" name="rating" id="rating" min="1" max="5" />
  <input type="submit" value="Submit" />
</form>
{% endif %}

{% if user.is_superuser %}
<form action="/delete?movie_id={{movie.movie_id}}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Delete" />
</form>
{% endif %}

{% endblock %}
